<?php include('view/common/header.html'); ?>
<!-- End: Header -->

<!-- Start: Main -->
<div id="main">
    <!-- Start: Sidebar -->
    <?php include('view/common/sidebar.html'); ?>
    <!-- End: Sidebar -->
    <!-- Start: Content -->
    <section id="content">
        <div id="topbar" class="affix">
            <ol class="breadcrumb">
                <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
                <li class="active">合作伙伴管理</li>
            </ol>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-md-10 col-lg-8 center-column">
                    <form action="" method="post" class="cmxform" enctype="multipart/form-data">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="panel-title">添加合作伙伴</div>
                                <div class="panel-btns pull-right margin-left">
                                    <a href="partner_list.php"
                                        class="btn btn-default btn-gradient dropdown-toggle"><span
                                            class="glyphicon glyphicon-chevron-left"></span></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-7">
                                    <div class="form-group">
                                            <div class="input-group"><span class="input-group-addon">合作伙伴名称</span>
                                                <input type="text" name="p_title" value="" class="form-control">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <div class="input-group"><span class="input-group-addon">上传伙伴商标</span>
                                                <span class="form-control" style="padding:2px;">
                                                        <input type="file" name="upload" value="">
                                                    </span>
                                                </div>
                                            </div>
                                        <div class="form-group">
                                            <div class="input-group"><span class="input-group-addon">合作伙伴链接</span>
                                                <input type="text" name="p_link" value="" class="form-control">
                                            </div>
                                        </div>
                                </div>
                                <div class="form-group col-md-12">
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <input type="submit" value="提交" class="submit btn btn-blue">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </section>
    <!-- End: Content -->
</div>
<!-- End: Main -->
<?php include('view/common/footer.html'); ?>