<?php include('view/common/meta.html'); ?>
<link rel="stylesheet" href="css/login.css">
<body>
	<div class="container">
			<?php include('view/common/header.html'); ?>
		<div class="log">
			<div class="phone"><img src="images/user_01.gif" alt=""></div>
			<h1>用户登录</h1>
			<form action="" method="post">
				<p class="txt_input txt_inp01">
					<input type="text" name="username" placeholder="用户名" id="">
				</p>
				<p class="txt_input txt_inp02">
					<input type="password" name="pass" placeholder="密 码" id="">
				</p>
				<p class="check">
				<input type="checkbox" name="autolog" id="">
				<span>自动登录</span>
				<a href="">忘记密码</a>
				</p>
				<div class="pas">
					<input class="code" type="text" name="code">
					<img src="code.php" alt="" id="login_img">
					<a href="javascript:;" id="login_but">看不清楚换一张</a>
				</div>
				<input class="submit" type="submit" value="登录">
				<a class="register" href="register.php">免费注册</a>
			</form>
		</div>

		<div class="foot">
			<p>粤ICP备12022584号-3</p>
			<p>广州文豆网络科技有限公司 Copyright 2009-2015 ,All Rights Reserved wengdo</p>
		</div>
	</div>
</body>
</html>
<script>
	var img = document.getElementById('login_img');
	var but = document.getElementById('login_but');

	but.onclick=function(){
		img.src ='code.php?t='+Math.random();
	}
</script>