<?php include('view/common/meta.html'); ?><link rel="stylesheet" href="css/message.css">
<body>
	<div class="container">
			<?php include('view/common/header.html'); ?>
		<div class="main_nav">
			<nav>
				<a href="index.php">首页</a>
				&gt;
				<a href="user_info.php">用户中心</a>
			</nav>
		</div>
		<div class="main">
			<div class="main_left">
				<div class="phone">
					<div><img src="images/user_01.gif" alt=""></div>
					<p><?php echo $userinfo['u_name'] ?></p>
				</div>
				<a href="user_info.php"><p >基本信息</p></a> 
				<a href="message.php"><p class="p1">客户留言</p></a> 
			</div>
			<div class="main_right">
				<a href="contact.php" title="前往留言"><h1>用户留言</h1></a> 
				<div class="main_r_con">
					<p>2014-04-14 11:00</p>
					<dl>
						<dt>username:</dt>
						<dt>我想咨询电子商务网站建设。</dt>
						<dd>邮箱：username@qq.com &nbsp;&nbsp; 电话：13712341234</dd>
					</dl>
				</div>
				<div class="main_r_con">
					<p>2014-04-14 11:00</p>
					<dl>
						<dt>username:</dt>
						<dt>我想咨询电子商务网站建设。</dt>
						<dd>邮箱：username@qq.com &nbsp;&nbsp; 电话：13712341234</dd>
					</dl>
				</div>
				<div class="main_r_con">
					<p>2014-04-14 11:00</p>
					<dl>
						<dt>username:</dt>
						<dt>我想咨询电子商务网站建设。</dt>
						<dd>邮箱：username@qq.com &nbsp;&nbsp; 电话：13712341234</dd>
					</dl>
				</div>
				<div class="main_r_con">
					<p>2014-04-14 11:00</p>
					<dl>
						<dt>username:</dt>
						<dt>我想咨询电子商务网站建设。</dt>
						<dd>邮箱：username@qq.com &nbsp;&nbsp; 电话：13712341234</dd>
					</dl>
				</div>
				<nav>
					<a href="javascript:;">1</a>
					<a href="javascript:;">2</a>
					<a href="javascript:;">3</a>
					<a href="javascript:;">4</a>
					<a href="javascript:;">5</a>
					<a href="javascript:;">6</a>
					<a href="javascript:;">7</a>
					<a href="javascript:;">8</a>
					<a href="javascript:;">&gt;</a>
					<a href="javascript:;">&gt;&gt;</a>
					<span>共3页/19条</span>
				</nav>
			</div>
		</div>
		<div class="bottom"></div>
		<div class="foot">
			<p>粤ICP备12022584号-3</p>
			<p>广州文豆网络科技有限公司 Copyright 2009-2015 ,All Rights Reserved wengdo</p>
		</div>
	</div>
</body>
</html>
<!-- 导航滚动条 -->
<script src='js/nav_scroll.js'></script>