<?php include('view/common/meta.html'); ?>
<link rel="stylesheet" href="css/register.css">
<body>
	<div class="container">
			<?php include('view/common/header.html'); ?>
			<div class="log">
			<div class="phone"><img src="images/user_01.gif" alt=""></div>
			<h1>用户登录</h1>
			<form action="register.php" method="post">	
				<div class="clear"></div>
				<p class="txt_input txt_inp01">
					<input type="text" name="username" placeholder="用户名" id="">
				</p>
				<p class="txt_input txt_inp02">
					<input type="password" name="pass" placeholder="密 码" id="">
				</p>
				<p class="txt_input txt_inp02">
					<input type="password" name="repass" placeholder="重复密码" id="">
				</p>
				<!-- <p class="txt_input txt_inp03">
					<input type="text" name="phone" placeholder="手机号" id="">
				</p>
				<div class="pas">
					<input type="text" name="demo" id="" placeholder="手机验证码">
					<a href="javascript:;">获取验证码</a>
				</div> -->
				<input class="submit" type="submit" value="立即注册">
				<a class="register" href="">以有账号，登录文豆</a>
			</form>
		</div>

		<div class="foot clear">
			<p>粤ICP备12022584号-3</p>
			<p>广州文豆网络科技有限公司 Copyright 2009-2015 ,All Rights Reserved wengdo</p>
		</div>
	</div>
</body>
</html>
<!-- 导航滚动条 -->
<script src='js/nav_scroll.js'></script>